<h1>Stupid Coaching<h1>
<div class="your">
<h2> <%= params[:question] %><h2>
<h2>- You<h2>
</div>
<div class="coach">
<h2> <%= @answer %></h2>
<h2>- Your Coach<h2>
</div>
<a href="/ask">Ask a new question</a>
